body {
  background-color: #f8f9ff;
  font-family: sans-serif;
}
.title {
  color: #64667b;
}
input::placeholder {
  color: #6270ef;
}
.btn__add {
  background-color: #6270ef !important;
}
.tasks__container {
  border: 15px solid #ecedf6;
  background-color: #ecedf6;
  width: 65%;
}
.done {
  text-decoration: line-through;
}
